{% extends "base.html" %}

{% block content %}

<div class="card shadow p-4" style="max-width:500px;">
    <h2>➕ Добавяне на потребител</h2>
    <p class="text-muted">Въведете имейл адрес на потребителя, който ще участва в обучението.</p>

    <form method="post">
        <label class="form-label">Имейл адрес</label>
        <input name="email" type="email" class="form-control" placeholder="example@email.com" required>

        <button class="btn btn-success mt-3">Добави потребител</button>
    </form>
</div>

{% endblock %}
