{% extends "base.html" %}

{% block content %}

<h2>👥 Потребители</h2>

<a class="btn btn-success mt-2 mb-3" href="{{ url_for('add_user') }}">+ Добави потребител</a>

<table class="table table-bordered table-striped bg-white">
    <tr>
        <th>ID</th>
        <th>Имейл</th>
        <th>Рисков резултат</th>
        <th>Статус</th>
        <th>Действия</th>
    </tr>

    {% for u in users %}
    <tr>
        <td>{{ u.id }}</td>
        <td>{{ u.email }}</td>
        <td>{{ u.risk_score or 0 }}</td>

        <td>
            {% if (u.risk_score or 0) > 5 %}
                🔴 Висок риск
            {% elif (u.risk_score or 0) > 2 %}
                🟠 Среден риск
            {% else %}
                🟢 Нисък риск
            {% endif %}
        </td>

        <td>
            <a class="btn btn-info btn-sm" href="{{ url_for('user_detail', user_id=u.id) }}">Детайли</a>
            <a class="btn btn-primary btn-sm" href="{{ url_for('send', user_id=u.id) }}">Изпрати имейл</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
