{% extends "base.html" %}

{% block content %}

<h2>Users</h2>

<a href="{{ url_for('add_user') }}">+ Add User</a>

<table border="1" cellpadding="8" cellspacing="0" style="margin-top:20px;">
    <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Risk Score</th>
        <th>Actions</th>
    </tr>

    {% for u in users %}
    <tr>
        <td>{{ u.id }}</td>
        <td>{{ u.email }}</td>

        <!-- FIX: ако няма risk_score няма да крашне -->
        <td>{{ u.risk_score | default(0) }}</td>

        <td>
            <!-- FIXED SEND BUTTON -->
            <a href="{{ url_for('send', user_id=u.id) }}">
                Send
            </a>
        </td>
    </tr>
    {% endfor %}

</table>

{% endblock %}
